:root {
    --window-bg: rgb(231, 231, 231);
    --font: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 20px;
    margin-top: 3em !important;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calc-window {
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .7);
    width: 350px;
    height: 800px;
    padding: 8px 12px;
    background-color: var(--window-bg);
    color: var(--font);
}

.calc-title-bar {
    display: flex;
    font-weight: bold;
    height: 40px;
}

.calc-body {
    height: 100%;
}

.calc-body-parent-section {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.calc-body-child-section {
    display: flex;
    justify-content: space-between;
}

.calc-body-child-section input[type=number] {
    width: 60px;
}

.calc-body-child-section * {
    margin-bottom: 10px;
}

.results-parent-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 380px;
}

.results-child-section {
    margin-bottom: 20px;
}

#total-results {
    margin-top: auto;
}

.hr {
    height: 2px;
    width: 100%;
    background-color: black;
}

input[type=number] {
    border: 2px solid black;
    padding: 5px;
    box-shadow: 3px 3px 0 gray;
    border-radius: 5px;
    text-align: center;
}

.not-link {
    position: absolute;
}

.not-link:hover {
    cursor: pointer;
}

#shots-info {
    display: none;
    position: relative;
    top: -16px;
    left: 150px;
    font-size: 16px;
    border: 2px solid black;
    padding: 2px 5px;
    background-color: cyan;
    border-radius: 4px;
    height: 25px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .7);
}

.not-link:hover ~ #shots-info {
    display: block;
}