:root {
    --window-bg: rgb(231, 231, 231);
    --font: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 20px;
    margin-top: 2em !important;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calc-window {
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .7);
    width: 350px;
    height: 700px;
    padding: 8px 12px;
    background-color: var(--window-bg);
    color: var(--font);
}

.calc-title-bar {
    display: flex;
    font-weight: bold;
    height: 40px;
}

.calc-body {
    height: 100%;
}

.calc-body-parent-section {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.calc-body-child-section {
    display: flex;
    justify-content: space-between;
}

.calc-body-child-section input[type=number] {
    width: 60px;
}

.calc-body-child-section * {
    margin-bottom: 10px;
}

.results-parent-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 270px;
}

.results-child-section {
    margin-bottom: 20px;
}

#total-results {
    margin-top: auto;
}

.hr {
    height: 2px;
    width: 100%;
    background-color: black;
}

input[type=number] {
    border: 2px solid black;
    padding: 5px;
    box-shadow: 3px 3px 0 gray;
    border-radius: 5px;
    text-align: center;
}

.not-link {
    position: absolute;
}

.not-link:hover {
    cursor: pointer;
}

#shots-info {
    opacity: 0;
    position: relative;
    top: -16px;
    left: 150px;
    font-size: 16px;
    border: 2px solid black;
    padding: 2px 5px;
    background-color: cyan;
    border-radius: 4px;
    height: 25px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .7);
}

.not-link:hover ~ #shots-info {
    opacity: 1;
}

.keypad {
    /* display: flex; */
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 250px; */
    /* height: 300px; */
    background-color: rgb(26, 26, 26);
    padding: .5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 25%; */
    /* gap: 5px; */
    /* padding: 2.5px 5px; */
}

.action-button {
    width: 70px;
    height: 30px;
    border-radius: 8px;
}

.button {
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 70px; 
    height: 70px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

.button:hover,
.action-button:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.button:active,
.action-button:active {
    background-color: rgb(168, 168, 168);
}

.keypad-words {
    color: white;
}

.element-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

